<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <a href="/roll-dice/1">
        <input type="hidden" name="number" value="1">
        Guess 1
    </a>
    <hr>
    <a href="/roll-dice/2">
        <input type="hidden" name="number" value="2">
        Guess 2
    </a>
    <hr>
    <a href="/roll-dice/3">
        <input type="hidden" name="number" value="3">
        Guess 3
    </a>
    <hr>
    <a href="/roll-dice/4">
        <input type="hidden" name="number" value="4">
        Guess 4
    </a>
    <hr>
    <a href="/roll-dice/5">
        <input type="hidden" name="number" value="5">
        Guess 5
    </a>
    <hr>
    <a href="/roll-dice/6">
        <input type="hidden" name="number" value="6">
        Guess 6
    </a>
    <hr>
</body>
</html>